.shops-container {
    margin-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;

    .content {
        max-width: 90%;

        .title {
            margin-top: 12px;
            margin-bottom: 0;
        }
    }
}