.search-navbar {
  background-color: white;
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding-left: calc(24% - 9rem);
  padding-right: calc(24% - 9rem);

  @media screen and (max-width: 550px) {
    padding-left: calc(24% - 5rem);
    padding-right: calc(24% - 5rem);
  }

  .search-navbar__logo-container {
     padding-right: 2em;

     .search-navbar__logo {
       max-width: 47px;
     }
  }

  .search-navbar__input-container {
    width: 100%;

    .search-navbar__input {
      display: block;
    }
  }
}

