.main {
    background-color: #edeeef;
    min-height: 65vh;
  
    .welcome {
      text-align: center;
  
      .icon {
        font-size: 4em;
        color: rgba(0, 0, 0, 0.45);
        padding-top: 0.5em;
      }
  
      .heading {
        padding-top: 0.2em;
        font-weight: 200;
      }
    }
  }