.search-navbar {
  background-color: white;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: calc(15% - 7rem);
  padding-right: calc(15% - 7rem);

  .logo-container {
     padding-right: 2em;

     .navbar-logo {
       max-width: 80px;
     }
  }

  @media screen and (max-width: 820px) {
    min-height: 7vh;
    padding-left: calc(15% - 2rem);
    padding-right: calc(15% - 2rem);

    .logo-container img.navbar-logo {
      max-width: 50px;
    }

    ul.menu-item-container, div.search-input {
      display: none;
    }

    div.menu-icon {
      display: flex;
      align-items: center;

      img {
        padding-right: 2em;
        max-width: 42px;
      }
    }
  }

  .menu-icon {
    display: none;
  }

  .menu-item-container {
    display: flex;
    margin-bottom: 0;

    li {
      display: block;
      padding: 0px 20px 0px 0px;
    }

    li a {
      color: black;
      font-size: 16px;
    }
  }

  .search-input {
    display: flex;
    align-items: center;
  }
}


