.search-navbar {
  background-color: white;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: calc(15% - 9rem);
  padding-right: calc(15% - 9rem);

  .logo-container {
     padding-right: 2em;

     .navbar-logo {
       max-width: 80px;
     }
  }

  ul.menu-item-container {
    display: flex;
    margin-bottom: 0;

    li {
      display: block;
      padding: 0px 20px 0px 0px;
    }

    li a {
      color: black;
      font-size: 16px;
    }
  }

  .search-input {
    display: flex;
    align-items: center;

  }
}


