.footer-container {
    background-color: #1A1A1A;
    min-height: 20vh;
    justify-content: center;

    .main-links-container, .caption-links-container, .about-nike, .social-payment {
        @media screen and (min-width: 500px) {
            padding: 40px;
            min-width: 260px;
        }
        padding: 20px;
        min-width: 100%;
        .caption-link {
            font-size: 12px;
            padding-bottom: 1vh;
            margin-bottom: 0;
        }
    }

    a, h2 {
        color: white;
    }

    .main-links-container {
        .main-links {
            text-transform: uppercase;
            font-size: 18px;
        }
    }
}

.copyright-container {
    background-color: #1A1A1A;
    justify-content: center;
    color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;

    .menu-copyright {
        @media screen and (min-width: 500px) {
            min-width: 300px;
        }
        min-width: 100%;
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
        li {
            display: block;
            padding-right: 4vw;
            a {
                color: white;
                font-size: 10px;
            }
        }
    }
    .copyright-text-container {
        @media screen and (min-width: 500px) {
            min-width: 300px;
            text-align: end;
        }
        min-width: 100%;
        text-align: center;
        .copyright-text {
            font-size: 10px;
            color: #D6D6D6;
            font-weight: 300;
        }
    }

}