@import 'antd/dist/antd.css';

.ant-divider-horizontal {
  margin: unset;
}

html body button.ant-btn {
  border-radius: 40px;
  height: unset;
  padding: 11px 23px;
  font-size: 1.1em;
}


span.ant-input-affix-wrapper {
  border-radius: 40px;
}